@{
    ViewBag.Title = "About";
}

<h2>O stronie/Kontakt</h2>
<h3>Opis</h3>

<p>BeerReviews/FavBeer to część pracy inżynierskiej studenta informatyki Wydziału Informatyki i Zarządzania Politechniki Wrocławskiej</p>

<address>
    <strong>Kontakt:</strong> <a href="mailto:grma94@gmail.com">grma94@gmail.com</a>
</address>