@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.isAdmin</h2>
<div class="jumbotron">
    <h1>FavBeer</h1>
    <p class="lead">FavBeer is a free web application allows You to review beers all over the world!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lala</h2>
        <p>
            PIWO
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More</h2>
        <p>Zoo</p>
    </div>
    <div class="col-md-4">
        <h2>Azure</h2>
        <p></p>
    </div>
</div>